In [29]:
%load_ext autoreload
%autoreload 2

In [37]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
import json

In [27]:
import lib.create_database as cdb
import lib.build_graph as bg

In [74]:
%%time
cfg = json.load(open('config/test-params.json'))
A, apis, apks = bg.buildA_matrix(**cfg)

Build A
get info
Microsoft Word Write Edit Share Docs on the Go_v16.0.12430.20120_apkpure.com
Worms Zone io Voracious Snake_v1.2.9_apkpure.com
Happy Glass_v1.0.47_apkpure.com
Subway Surfers_v1.114.0_apkpure.com
Instagram Lite_v67.0.0.0.51_apkpure.com
90b8b78626470c30c52ae86c508ca474
ef5af624019d0864dec30560139f75ea
d16546eef921303a0cfaae6fea7a5800
91530cf3db534f5b42ba26682788cb5c
['Microsoft Word Write Edit Share Docs on the Go_v16.0.12430.20120_apkpure.com', 'Worms Zone io Voracious Snake_v1.2.9_apkpure.com', 'Happy Glass_v1.0.47_apkpure.com', 'Subway Surfers_v1.114.0_apkpure.com', 'Instagram Lite_v67.0.0.0.51_apkpure.com', '90b8b78626470c30c52ae86c508ca474', 'ef5af624019d0864dec30560139f75ea', 'd16546eef921303a0cfaae6fea7a5800', '91530cf3db534f5b42ba26682788cb5c']
CPU times: user 40.8 s, sys: 1.22 s, total: 42 s
Wall time: 43.6 s

In [76]:
A.shape

(9, 788054)

In [86]:
pd.DataFrame(A)

,0,1,2,3,4,5,6,7,8,9,...,788044,788045,788046,788047,788048,788049,788050,788051,788052,788053
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
5,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
6,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
7,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,1
8,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [94]:
x = pd.DataFrame(A).iloc[[1,3,4,5,6,7], :]
x

,0,1,2,3,4,5,6,7,8,9,...,788044,788045,788046,788047,788048,788049,788050,788051,788052,788053
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
5,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
6,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
7,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,1

In [95]:
test_x = pd.DataFrame(A).iloc[[2, 8], :]
test_x

,0,1,2,3,4,5,6,7,8,9,...,788044,788045,788046,788047,788048,788049,788050,788051,788052,788053
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0
8,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [1]:
from sklearn.model_selection import train_test_split

In [96]:
y = [0,0,0,1,1,1]
test_y = [0, 1]

In [97]:
clf = SVC(gamma='auto')
clf.fit(x, y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [98]:
clf.predict(test_x)

array([0, 1])